USE [Hotel Booking]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblCategory_cateogryID]  DEFAULT (newid()),
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDiscount](
	[discountID] [nvarchar](50) NOT NULL CONSTRAINT [DF_tblDiscount_discountID]  DEFAULT (newid()),
	[discountName] [nvarchar](50) NULL,
	[percentage] [int] NOT NULL,
	[expirateDate] [date] NOT NULL,
	[createDate] [date] NULL CONSTRAINT [DF_tblDiscount_createDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_tblDiscount] PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[feedbackID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblFeedback_feedbackID]  DEFAULT (newid()),
	[roomID] [uniqueidentifier] NOT NULL,
	[feedback] [nvarchar](max) NULL,
	[star] [int] NOT NULL,
	[userID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblFeedback] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHotel]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHotel](
	[hotelID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblHotel_hotelID]  DEFAULT (newid()),
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](50) NOT NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblHotel] PRIMARY KEY CLUSTERED 
(
	[hotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblOrder_orderID]  DEFAULT (newsequentialid()),
	[userID] [nvarchar](50) NOT NULL,
	[total] [decimal](18, 2) NULL,
	[returnDate] [datetime] NULL,
	[arrriveDate] [datetime] NULL,
	[discountID] [nvarchar](50) NULL,
	[finalTotal] [decimal](18, 2) NULL,
	[statusID] [int] NULL,
	[bookingDate] [datetime] NULL CONSTRAINT [DF_tblOrder_bookingDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_tblOrder] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[orderDetailID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblOrderDetail_orderDetailID]  DEFAULT (newid()),
	[roomID] [uniqueidentifier] NOT NULL,
	[orderID] [uniqueidentifier] NOT NULL,
	[amount] [int] NULL,
	[price] [real] NULL,
 CONSTRAINT [PK_tblOrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[roleID] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRoom]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoom](
	[ID] [uniqueidentifier] NOT NULL CONSTRAINT [DF_tblRoom_ID]  DEFAULT (newid()),
	[hotelID] [uniqueidentifier] NOT NULL,
	[categoryID] [uniqueidentifier] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [real] NULL,
	[booking] [int] NULL CONSTRAINT [DF_tblRoom_booking]  DEFAULT ((0)),
 CONSTRAINT [PK_tblRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[statusID] [int] NOT NULL,
	[statusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[userID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[createDate] [date] NOT NULL,
	[statusID] [int] NOT NULL,
	[roleID] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[tblCategory] ([categoryID], [name]) VALUES (N'91a27f12-c2bb-4590-984b-2408968ca3f9', N'Family Room')
INSERT [dbo].[tblCategory] ([categoryID], [name]) VALUES (N'2968856b-1a06-4f7d-9fac-5cdd6c160b49', N'Double Room')
INSERT [dbo].[tblCategory] ([categoryID], [name]) VALUES (N'c585b774-c627-4ac0-b138-7f562ac7e51f', N'Single Room')
INSERT [dbo].[tblDiscount] ([discountID], [discountName], [percentage], [expirateDate], [createDate]) VALUES (N'08112000', N'Discount for haloween event', 30, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-03' AS Date))
INSERT [dbo].[tblDiscount] ([discountID], [discountName], [percentage], [expirateDate], [createDate]) VALUES (N'090909', N'Discount for new event', 15, CAST(N'2020-11-08' AS Date), CAST(N'2020-10-30' AS Date))
INSERT [dbo].[tblDiscount] ([discountID], [discountName], [percentage], [expirateDate], [createDate]) VALUES (N'112233', N'Discount 1 ', 20, CAST(N'2020-10-29' AS Date), CAST(N'2020-10-28' AS Date))
INSERT [dbo].[tblFeedback] ([feedbackID], [roomID], [feedback], [star], [userID]) VALUES (N'f22a6d08-744e-451f-850a-2bfb66f7d790', N'2bd14399-aeb8-40da-a77c-afb7635c55c7', N'Good!', 4, N'hungnvse140996@fpt.edu.vn')
INSERT [dbo].[tblFeedback] ([feedbackID], [roomID], [feedback], [star], [userID]) VALUES (N'40314214-a1a2-4b5d-805a-347721025658', N'16771914-6669-4cc9-bba8-772cd9b0e388', N'Nice!!!!!!!', 5, N'hungnvse140996@fpt.edu.vn')
INSERT [dbo].[tblFeedback] ([feedbackID], [roomID], [feedback], [star], [userID]) VALUES (N'641acc85-3166-4eab-8aa7-a7ec271cf8d4', N'16771914-6669-4cc9-bba8-772cd9b0e388', N'It is nice!', 3, N'hungnvse140996@fpt.edu.vn')
INSERT [dbo].[tblHotel] ([hotelID], [name], [address], [phone], [image]) VALUES (N'dd8e608e-9ec9-4683-b0c4-24b5806c64b2', N'RedDoorz @ Nguyen Thai Hoc Street', N'193 Nguyen Thai Hoc Street, Pham Ngu Lao Ward, District 1, Ho Chi Minh City, Vietnam', N'02873060600', N'desktop_hotel_gallery_large_900x600_20190929_Room___Saigon__44_.jpg')
INSERT [dbo].[tblHotel] ([hotelID], [name], [address], [phone], [image]) VALUES (N'157b08f2-d929-4813-b8b4-7bc4e8604914', N'RedDoorz near Vincom Go Vap', N' No 24, 14 street, 05 Ward, Go Vap District, Ho chi minh city, Vietnam', N'02873060501', N'desktop_hotel_show_530x360_20190917_Rdz_near__Vincom_Go_Vap_900x600.jpg')
INSERT [dbo].[tblHotel] ([hotelID], [name], [address], [phone], [image]) VALUES (N'cb8106ef-d3f5-4241-9816-9b3350fcb70b', N'RedDoorz near Nguyen Hue Walking Street 2', N'51 Huynh Thuc Khang Street, Ben Nghe Ward, District 1, Ho Chi Minh City, Vietnam', N'02873060601', N'desktop_hotel_gallery_large_900x600_a1b0be23-7096-4a02-81ed-b63fe8ed1450_2Fdesktop.jpg')
INSERT [dbo].[tblOrder] ([orderID], [userID], [total], [returnDate], [arrriveDate], [discountID], [finalTotal], [statusID], [bookingDate]) VALUES (N'dac78bd8-7b1d-eb11-8e5b-963212092d17', N'hungnvse140996@fpt.edu.vn', CAST(50.00 AS Decimal(18, 2)), CAST(N'2020-11-04 00:00:00.000' AS DateTime), CAST(N'2020-11-03 00:00:00.000' AS DateTime), NULL, CAST(50.00 AS Decimal(18, 2)), 4, CAST(N'2020-11-03 09:25:32.613' AS DateTime))
INSERT [dbo].[tblOrder] ([orderID], [userID], [total], [returnDate], [arrriveDate], [discountID], [finalTotal], [statusID], [bookingDate]) VALUES (N'6d0f820e-811d-eb11-8e5b-963212092d17', N'hungnvse140996@fpt.edu.vn', CAST(66.00 AS Decimal(18, 2)), CAST(N'2020-11-05 00:00:00.000' AS DateTime), CAST(N'2020-11-03 00:00:00.000' AS DateTime), N'123123', CAST(105.60 AS Decimal(18, 2)), 7, CAST(N'2020-11-03 10:02:50.630' AS DateTime))
INSERT [dbo].[tblOrder] ([orderID], [userID], [total], [returnDate], [arrriveDate], [discountID], [finalTotal], [statusID], [bookingDate]) VALUES (N'9643a599-851d-eb11-8e5b-963212092d17', N'HungNV', CAST(115.00 AS Decimal(18, 2)), CAST(N'2020-11-04 00:00:00.000' AS DateTime), CAST(N'2020-11-03 00:00:00.000' AS DateTime), NULL, CAST(115.00 AS Decimal(18, 2)), 5, CAST(N'2020-11-03 10:35:22.050' AS DateTime))
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [roomID], [orderID], [amount], [price]) VALUES (N'de35d9ed-5cef-4e04-97e0-0f8760d058d1', N'5678f716-dd73-4ae1-9af0-de40edea5460', N'9643a599-851d-eb11-8e5b-963212092d17', 2, 22)
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [roomID], [orderID], [amount], [price]) VALUES (N'322e707c-8a7b-4c33-988a-2d78af06507e', N'00ff7fe9-a3e7-4941-8bdd-6a2030b937b4', N'348e3bcb-af1d-eb11-8e5b-963212092d17', 2, 15)
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [roomID], [orderID], [amount], [price]) VALUES (N'759db016-f6c2-4f00-9f0b-513ac5722a67', N'66db4324-57d5-46dd-8736-5d597256a08e', N'dac78bd8-7b1d-eb11-8e5b-963212092d17', 1, 11)
INSERT [dbo].[tblRole] ([roleID], [name]) VALUES (1, N'Admin')
INSERT [dbo].[tblRole] ([roleID], [name]) VALUES (2, N'Member')
INSERT [dbo].[tblRoom] ([ID], [hotelID], [categoryID], [quantity], [price], [booking]) VALUES (N'327d3752-cf5f-4e67-90b7-2376fec428a2', N'cb8106ef-d3f5-4241-9816-9b3350fcb70b', N'2968856b-1a06-4f7d-9fac-5cdd6c160b49', 20, 20, 0)
INSERT [dbo].[tblRoom] ([ID], [hotelID], [categoryID], [quantity], [price], [booking]) VALUES (N'faad24da-3aa2-4a49-9257-43562fece815', N'10301150-3f18-4224-a251-cce1ece5ee17', N'2968856b-1a06-4f7d-9fac-5cdd6c160b49', 15, 25, 0)
INSERT [dbo].[tblRoom] ([ID], [hotelID], [categoryID], [quantity], [price], [booking]) VALUES (N'8981886b-f10f-4db1-ad7a-51fa3a307beb', N'cb8106ef-d3f5-4241-9816-9b3350fcb70b', N'91a27f12-c2bb-4590-984b-2408968ca3f9', 10, 29, 0)
INSERT [dbo].[tblStatus] ([statusID], [statusName]) VALUES (1, N'Active')
INSERT [dbo].[tblStatus] ([statusID], [statusName]) VALUES (2, N'Deactive')
INSERT [dbo].[tblStatus] ([statusID], [statusName]) VALUES (3, N'Booked')
INSERT [dbo].[tblUser] ([userID], [name], [password], [phone], [address], [createDate], [statusID], [roleID]) VALUES (N'HungNV', N'Van Hung Nguyen', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0945326317', N'Buon Ma Thuot city', CAST(N'2020-10-27' AS Date), 1, 2)
INSERT [dbo].[tblUser] ([userID], [name], [password], [phone], [address], [createDate], [statusID], [roleID]) VALUES (N'hungnvse140996@fpt.edu.vn', N'Tran Khanh Hung', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'0914148921', N'Ha Noi capital', CAST(N'2020-10-29' AS Date), 1, 2)
INSERT [dbo].[tblUser] ([userID], [name], [password], [phone], [address], [createDate], [statusID], [roleID]) VALUES (N'nghungg0811@gmail.com', N'Nguyen Van Hung', N'8bb0cf6eb9b17d0f7d22b456f121257dc1254e1f01665370476383ea776df414', N'09455455', N'Buon Ma Thuot city', CAST(N'2020-10-21' AS Date), 1, 1)
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD  CONSTRAINT [FK__tblFeedba__roomI__00DF2177] FOREIGN KEY([roomID])
REFERENCES [dbo].[tblRoom] ([ID])
GO
ALTER TABLE [dbo].[tblFeedback] CHECK CONSTRAINT [FK__tblFeedba__roomI__00DF2177]
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD  CONSTRAINT [FK__tblFeedba__userI__7EF6D905] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblFeedback] CHECK CONSTRAINT [FK__tblFeedba__userI__7EF6D905]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK__tblOrder__discou__30F848ED] FOREIGN KEY([discountID])
REFERENCES [dbo].[tblDiscount] ([discountID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK__tblOrder__discou__30F848ED]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK__tblOrder__status__40058253] FOREIGN KEY([statusID])
REFERENCES [dbo].[tblStatus] ([statusID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK__tblOrder__status__40058253]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK__tblOrder__userID__2F10007B] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK__tblOrder__userID__2F10007B]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__order__300424B4] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__order__300424B4]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__roomI__4222D4EF] FOREIGN KEY([roomID])
REFERENCES [dbo].[tblRoom] ([ID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__roomI__4222D4EF]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK__tblRoom__categor__2C3393D0] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK__tblRoom__categor__2C3393D0]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK__tblRoom__hotelID__2D27B809] FOREIGN KEY([hotelID])
REFERENCES [dbo].[tblHotel] ([hotelID])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK__tblRoom__hotelID__2D27B809]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK__tblUser__roleID__4D94879B] FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRole] ([roleID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK__tblUser__roleID__4D94879B]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD FOREIGN KEY([statusID])
REFERENCES [dbo].[tblStatus] ([statusID])
GO
/****** Object:  StoredProcedure [dbo].[findAvailableRoom]    Script Date: 11/3/2020 4:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[findAvailableRoom]
	@Date DATE
AS
BEGIN
	DECLARE @ID nvarchar(50);
	DECLARE @Amount int;
	UPDATE tblRoom SET booking = 0
	DECLARE myCursor CURSOR FOR 
		SELECT roomID, amount FROM tblOrderDetail
		WHERE orderID IN (
		SELECT orderID FROM tblOrder
		WHERE returnDate > CAST(GETDATE() AS DATE) AND returnDate > @Date AND (statusID = 4 OR statusID = 5)
		)
	OPEN myCursor;
	FETCH NEXT FROM myCursor INTO @ID, @Amount;
	WHILE @@FETCH_STATUS = 0
	BEGIN
		UPDATE tblRoom SET booking = @Amount WHERE ID = @ID
		FETCH NEXT FROM myCursor INTO @ID, @Amount;
	END
	CLOSE myCursor;
	DEALLOCATE myCursor;
END



GO
